* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
main{
    height: calc(100vh - 100px);
    display: flex;
}
.container-column{
    
    color:white;
    background-color:black;
    width:200px;

}

.logo{
    width: 60%;
    margin-bottom: 20px;
   
}
ul{
    list-style-type: none;
  
   
}
a{
    text-decoration: none;
    color:white;
}
.nav-container{
    background-color:#080F21 ;
    flex-grow:1;
  
}
.button{
    background-color: #080F21;
    color:white;
    border-radius: 20%;
    border-top-left-radius: 30%;
    padding:20px;

}
footer{
    height: 100px;
    background: #191A18;
}