* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size:16px;
}


main {
    height: calc(100vh - 100px);
    display: flex;
}
/**************************************************
MAIN-COLONNA
***********************************************/

.container-column {
     color: white;
    background-color: black;
    width:200px;
    font-size:0.75rem;
  
}

.logo {
    width: 60%;
    margin: 20px;

}

ul {
    list-style-type: none;
   
}

.name-playlist li{
    margin-top:5px;
  
}

a {
    text-decoration: none;
    color: white;
    margin:20px;
}
a img{
    width:12px;
}

/**************************************************
HEADER-MAIN
****************************************************/


.header-button {
    display: flex;
    justify-content: flex-end;
    background-color:#00030F ;
    position:sticky;
    top:0;
}

.button {
    background-color: #080F21;
    color: white;
    border-radius: 20%;
    padding: 20px;
    border-color: white;
    margin: 20px;
}
/**********************************************
MAIN-CENTRALE
************************************************/

.container-main {
    background-color: #080F21;
    flex-grow: 1;
    overflow: auto;
}
.container-playlist {
    background-color: #080F21;
    color: white;
    margin-top:10px;
}

.container-playlist ul{
    display:flex;
    justify-content: center;
}

.container-playlist li {
    padding: 10px;
}
.cards-top{
    display:flex;
    flex-wrap:wrap;
    margin-left:10px;


}
.card-items img{
    width:150px;
}
figcaption{
   text-align: center;
    color: white;
    font-size: 12px;
}
h3{
    color:white;
    margin:30px 10px;
   
}
   .cards-bottom{
    display:flex;
    justify-content:flex-start;
    margin-left:10px;
}
.card-items{
    margin-right:10px;
}
p{
    color:grey;
    font-size:10px;
    margin:10px;
    margin-bottom:30px;
}


.with-subtitle{
    color:white;
    margin:30px 10px 10px;
}

/***********************************************
FOOTER
*************************************************/

footer {
    height: 100px;
    background: #191A18;
    display:flex;
    align-items: center;
}
.img-footer{
   margin:10px;
   

}
figure img{
    width:50px;
}